/* code de la barre de navigation */
.navbar>.container-fluid {
  background-color: #6A847A;
}

.navbar-collapse {
    width: auto;
    display: flex!important;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
  color: black!important;
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.nav-link:hover, .nav-link:active  {
  background-color: green;
}

@media (max-width: 670px) {
  .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .nav-link {
    font-size: 10px;
    padding-right: .2rem!important;
    padding-left: .2rem!important;
  }
}
/* */



/* FIN code de la barre de navigation */

/* Debut mise en page des images */
#photo-list li.selected {
  border: 3px solid #69B860;
}

#photo-list img {
  display: block; /* Sinon il y a un petit gap sous l'image */
}

#photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#photo-list li {
  padding: 1%;
  margin:1% 0;
  box-sizing: border-box;
}
.container {
  width: 800px;
  max-width:90%;
  margin: 0 auto;
}
#total span{
  color: red;
  font-weight: bold;
}
.btn_supr{
  display: block;
  margin:auto
}

#total{
  text-align: center;
}
/* Fin mise en page des images */
/**/
header {
	text-align: center;
  text-decoration: none;
  background-color: #6A847A;
}
header a {
    text-decoration: none;
}
header, footer{
	padding: 3px;
	box-sizing: border-box;
}
footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;
	position: relative;
  bottom: 0;
}
footer a {
  text-decoration: none;
	color:  #6A847A;
}
/* FIN */

/* code formulaire */
form {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 30%;
    
}
.field {
  border: 0.1rem solid grey;
 
  border-radius: 4%;
}

input{
  background-color: #FFFFFF;
  border: 0.08rem solid black;
  text-align: center;
  color: black;

}

.btn_nv_grp{
  margin-left: 25%;
  width:50%;
  color: white;
  border: 0;
  padding: 3% 0;
  cursor: pointer;
  border-radius: 1rem;
  display: block;
  margin: 5% auto 5%;
  font-size: 150%;
  background-color: green;
}
.titreformulaire{
    text-align: center;
}

.row {
    margin: 5% 15%;

}

  .field {
    display: block;
    width: 100%;
  }
  
  .label {
    width: 70%;
    /*font-family: 'Josefin Sans', sans-serif;*/
    margin: 5% auto 2%;
  }
  
  .input {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 25%;
    margin-top: 3%;
    width: 50%;
  }
  .label{
    margin-left: 25%;
    width: 50%;
    padding-bottom: 10%;
  }
/* FIN code formulaire */