/* code de la barre de navigation */
.navbar>.container-fluid {
  background-color: #6A847A;
}


.navbar-nav {
    flex-direction: row;
}

.nav-link {
  color: black!important;
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.nav-link:hover, .nav-link:active  {
  color:#1C4717!important;
}

@media (max-width: 670px) {
  .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .nav-link {
    font-size: 10px;
    padding-right: .2rem!important;
    padding-left: .2rem!important;
  }
}

#navbarNav {

  text-align: center;
  padding: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}


.nav-link {
  color: inherit;
  font-size: 1.2em;
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
/* */


/* FIN code de la barre de navigation */

/* Debut mise en page des images */
#photo-list li.selected {
  border: 3px solid #69B860;
}

#photo-list img {
  display: block; /* Sinon il y a un petit gap sous l'image */
}

#photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#photo-list li {
  padding: 1%;
  margin:1% 0;
  box-sizing: border-box;
}
.container {
  width: 800px;
  max-width:90%;
  margin: 0 auto;
}
#total span{
  color: red;
  font-weight: bold;
}

#total{
  display: block;
  text-align: center;
}

.btn_supr{
  border-radius: 1rem;
  background-color: green;
  color: white;
  border: 0;
  font-size: 150%;
  display: block;
  margin : auto;
}
.btn-env{
  border-radius: 1rem;
  background-color: green;
  color: white;
  border: 0;
  font-size: 150%;
  display: block;
  margin : auto;
}

.field-photo{
  border: 0.1rem solid grey;
  border-radius: 4%;
  display: block;
  width: 100%;
  margin: auto;
}

.label{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Fin mise en page des images */
/**/
header {
    text-align: center;
  text-decoration: none;
  background-color: #6A847A;
  
}
header a {
    text-decoration: none;
}
header, footer{
    padding: 3px;
    box-sizing: border-box;
}
footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    position: relative;
  bottom: 0;
}
footer a {
  text-decoration: none;
    color:  #6A847A;
}

.logo{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/* FIN */

/* code formulaire commun */
form {
  max-width: 40%;
  margin-top: 5%;
  margin-left: 30%;    
}
.field {
  border: 0.1rem solid grey;
  border-radius: 4%;
  display: block;
  width: 100%;
}

input{
  background-color: #FFFFFF;
  border: 0.08rem solid black;
  margin: 5% auto;
  text-align: center;
  color: black;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.row {
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Fin code formulaire commun */

/* code formulaire nouveau groupe*/

.btn_nv_grp{
  margin-left: 25%;
  width:100%;
  color: white;
  border: 0;
  padding: 3% 0;
  cursor: pointer;
  border-radius: 1rem;
  display: block;
  margin: 5% auto 5%;
  font-size: 150%;
  background-color: green;
}
.titreformulaire{
    text-align: center;
}

  
/* FIN code formulaire */

/* Debut code page de connexion */
.box-button{
  margin-left: 25%;
  width:90%;
  color: white;
  border: 0;
  padding: 3% 0;
  cursor: pointer;
  border-radius: 1rem;
  display: block;
  margin: 5% auto 5%;
  font-size: 150%;
  background-color: green;
  text-align: center;
}

.box-title{
  text-align: center;
}

/* Fin code page de connexion */


/* debut page affichage des groupes*/

.id{
  text-align: center;
  width: 30%;
  margin: 0 auto 2%;
  background-color: #B0BFA0;
  border-radius: 4%;
  display: block;
}
.equipe{
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

/* fin page affichage des groupes*/